.user-info, .my-form, .user-tweets, .timeline{
	border: 1px solid #DFDFDF;
	margin-bottom: 25px;
	border-radius: 10px;
}

.user-tweets{
	/*margin-right: 13px;*/
}

.user-tweets, .timeline{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.my-wrapper{
	width: 80%;
	margin: auto;
	padding-bottom: 40px;
	padding-top: 40px;
}

.form-group, #comment{
	width: 100%;
}

.my-button{
	margin-top: 20px;
}

.my-button:hover{
	background: red !important;
	color: white !important;
}

.my-header{
	display: inline-block;
}

.page-container h2, .fake-header{
	border-bottom: 1px solid red;
	padding-bottom: 20px;
	margin-bottom: 15px;
}

.fake-header h2{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.fake-header a{
	margin-top: 20px !important;
	float: right !important;
}

.tweet, .timestamp{
	padding: 15px;
    border: 1px solid #DFDFDF;
    margin-bottom: 10px;
    border-radius: 10px;
    /*height: 120px;*/
}


.handle{
	display: inline-block;
}


.timestamps, .tweets{
	display: inline-block;
	vertical-align: top;
}


.timestamps{
	width: 23%;
	vertical-align: top;
}

.tweets{
	width: 100%;
}

.bio{
	font-style: italic;
}

.home-tweet{
		padding: 15px;
	    border: 1px solid #DFDFDF;
	    margin-bottom: 10px;
	    border-radius: 10px;
	    /*height: 150px;*/
}

.icon{
	width: 49px;
	height: 49px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
}

.tweet-content{
	display: inline-block;
	width: 80%;
}


