*{
	font-family: 'Open-Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	/*font-weight: 100;*/

}
a{
	text-decoration: none;
}

a:hover{
	text-decoration: none !important;
}

.content-wrapper{
	width: 60%;
	margin: auto;
}



ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

header{
	margin-bottom: 30px;
	background: #DFDFDF;
}
