.home-link{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	color: red;
	font-size: 40px;
}

.home-link:hover, .diet:hover{
	color:red;
	text-decoration: none;
}

.diet{
	color: black;
	/*font-family: 'Tangerine', cursive;*/
	/*font-weight: 700;*/
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

.saying{
	text-transform: uppercase;
	display: inline-block;
	float: right;
	margin-top: 31px;
	font-style: italic;
	font-family: 'Roboto Slab', serif;
}

.fa-twitter{
	color: red;
}



.my-nav li{

	margin-top: 200px
}

.action.login{
	float: left;
}

.action.create{
	float: right
}

.action{
	padding: 30px;
	background: #DFDFDF;
	border-radius: 5px;
	padding-right: 50px;
	padding-left: 50px;
}

.action:hover{
	background: red;
}

.action a{
	color: black;
	font-size: 20px;
	font-weight: 100;
}

.action a:hover{
	color: black;
}

.user-image{
	width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-block;
}

